nav {
    background-color: #C2372F;
}

.hangry-logo {
    cursor: pointer;
    width: 250px;
    height: auto;
}

.userbuttons {
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: white;
    position: relative;
    left: 90%;
    font-size: 18px;
    padding: 5px;
}

.userbuttons .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.userbuttons:hover .tooltiptext {
    visibility: visible;
}

.userbuttons .tooltiptext2 {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.userbuttons:hover .tooltiptext2 {
    visibility: visible;
}

.userbuttons .tooltiptext3 {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.678);
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.userbuttons:hover .tooltiptext3 {
    visibility: visible;
}
