.editbusiness-form {
    background-color: rgb(255, 255, 255);
    display: block;
    width: min-content;
    height: auto;
    margin: auto;
    border-radius: 10px;
    text-align: center;
}

.editinputs {
    padding:12px;
    font-size:12px;
    margin-bottom: 5px;
    border-radius:15px;
    border:1px solid rgb(235, 235, 235);
    outline:none;
    font-family:Helvetica;
    margin-left:10px;
    margin-right:10px;
    width: 175px;
}

.editinputfirst{
    padding:12px;
    font-size:12px;
    margin-bottom: 5px;
    border-radius:15px;
    border:1px solid rgb(235, 235, 235);
    outline:none;
    font-family:Helvetica;
    margin-left:10px;
    margin-right:10px;
    width: 175px;
}

body {
    background-color:#f7f7f7;
    font-family: Helvetica;
    font-size:11px;
    padding:none;
    margin:-.5px
}

.editbutton {
    display:inline-block;
    padding:0.25em 1em;
    margin: 0 0.2em 0.2em 0;
    border-radius:0.2em;
    text-decoration:none;
    font-family:Helvetica;
    font-size:12px;
    color:black;
    text-align:center;
    background-color:transparent;
    text-transform:uppercase;
    cursor:pointer;
    border:none;
    padding-bottom:10px;
    padding-top:10px;
    margin-bottom: 30px;
}

.editbutton:hover {
    background-color: #C2372F;
    color: white;
    border:none;
    padding:0.25em 1em;
    margin: 0 0.2em 0.2em 0;
    border-radius:10px;
    margin-top: 7px;
    margin-bottom: 10px;
}

.editbusinesstitle {
    color: #C2372F;
    font-family: Helvetica;
    padding-top: 20px;
}

.editbusinesserrors {
    display: block;
    color: red;
    font-family: Helvetica;
    font-size: 11px;
    padding-right: 45px;
}

.editbusiness-labels {
    font-family: Helvetica;
}

.editbusinessrequire {
    color: red;
    font-family: Helvetica;
    font-size: 15px;
}

.editbusinessmodal-btn {
    background-color:#C2372F;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 15px;
    cursor: pointer;
    position: relative;
    left: 85%;
    bottom: 45px;
}

.editbusinessmodal-btn:hover {
    background-color:red;
}
