.review-form {
  background-color: rgb(255, 255, 255);
  display: block;
  width: min-content;
  height: auto;
  margin: auto;
  border-radius: 10px;
  text-align: center;
}

.reviewarea {
  resize: none;
  height: 150px;
  border-radius: 10px;
}

.createreviewbutton {
  display:inline-block;
  padding:0.25em 1em;
  margin: 0 0.2em 0.2em 0;
  border-radius:0.2em;
  text-decoration:none;
  font-family:Helvetica;
  font-size:12px;
  color:black;
  text-align:center;
  background-color:transparent;
  text-transform:uppercase;
  cursor:pointer;
  border:none;
  padding-bottom:10px;
  padding-top:10px;
}
.createreviewbutton:hover {
  background-color: #d4d4d4;
  border:none;
  padding:0.25em 1em;
  margin: 0 0.2em 0.2em 0;
  border-radius:10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.star-rating {
    border: gray 1px solid;
    display: flex;
    flex-direction: row-reverse;
    font-size: 2em;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    width: 5em;
  }

.star-rating input {
    display: none;
  }

.star-rating label {
    color: gray;
    cursor: pointer;
  }

.star-rating input + label:hover~label:before,
.star-rating input + label:hover:before {
  color: gray;
  }

.star-rating :checked~label {
    color: #C2372F;
  }

.star-rating label:hover,
.star-rating label:hover~label {
    color: #C2372F;
  }
